body {
    background-color: black;
    color: white;
}

.container {
    margin-top: 40px;
    text-align: center;
    /* margin: auto; */
    width: 50%;
}

#time {
    color: rgb(247, 197, 61);
    font-size: larger;
}

.button {
    border-radius: 50%;
}

#lap {
    display: flex;
    justify-content: space-between;  
}